{% extends 'template.html' %}
{% block content %}
<nav>
    <div class="logo">
        <p>Summarization</p>
    </div>
    <div class="nav_item">
        <ul>
            <li><a href="#">History</a></li>
        </ul>
    </div>
</nav>

<section>
    <div class="title">
        <h1>Peringkasan Teks Berita Menggunakan Algorima PSO dan PFNet</h1>
    </div>

    <div class="button">
        <ul>
            <li>
                <label for="teks">Upload</label>
                <input type="file" name="teks" id="teks" accept=".txt">
            </li>
            <li>
                <a href="#">atau Manual</a>
            </li>
        </ul>
    </div>  
</section>
{% endblock content %}