<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="#"><h2>PSO SUMMARIZATION</h2></a>
            </div>
            <div class="nav_item">
                <ul>
                    
                    <li class="{% if id == 'home' %}active{% endif %}"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/history">History</a></li>
                    <li><a href="/admin">Login</a></li>
                </ul>
            </div>
        </nav>
        <section id="{{id}}">
            {% block content %}
        
        
            {% endblock content %}
        </section>
    </div>
    <footer>
        <img src="{% static 'images/wave (1).svg'%}" alt="wave">
    </footer>
    {% if testing %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.js"></script>
        <script>
            const nameJS = document.getElementById('name');

            const api_url = 'http://127.0.0.1:8000/get_result_json/'+nameJS.innerHTML;
            
            // const min = dataTimelapsed.sort(function(a, b){return a - b});
            fetch(api_url)
            .then((response) => response.json())
            .then((dataJS)=> {
                if (dataJS.Mode != 'comparison'){
                    const dataTimelapsed = [];
                    const iteration =[]
                    const gbest = [];
                    const datalabels = []; // Untuk horizontal labels
                    for (const key in dataJS.Uji) {
                        datalabels.push(key);
                        dataTimelapsed.push(dataJS.Uji[key].timelapsed);
                        iteration.push(dataJS.Uji[key]['iteration finish']);
                        gbest.push(dataJS.Uji[key].gbest);
                    }
                    
                    // console.log(labelData);
                    const data = {
                        labels: datalabels,
                        datasets: [{
                            label: dataJS.Mode,
                            backgroundColor: 'rgba(207, 235, 255, 0.5)',
                            borderColor: '#0E9CFF',
                            data: dataTimelapsed, // Untuk vertical labels
                            fill: true
                            },
                        ]
                    };
                    const config = {
                        type: 'line',
                        data: data,
                        options: {
                            responsive: true,
                            plugins: {
                            filler: {
                            propagate: true,
                            },
                            title: {
                            display: false,
                            text: (ctx) => 'Data Uji Coba Timelapsed (second)'
                            }
                        },
                        interaction: {
                            intersect: false,
                        },
                        elements:{
                            line:{
                                tension: 0.4
                            }
                        },
                        scales:{
                            y:{
                                min: 0,
                                max: 100,
                            }
                        }
                        }
                    };
            
                    
                    const myChart = new Chart(
                        document.getElementById('myChart'),
                        config
                    );
                    
                    

                    // Iteration config
                    const dataIteration = {
                        labels: datalabels,
                        datasets: [{
                        label: dataJS.Mode,
                        backgroundColor: 'rgba(207, 235, 255, 0.5)',
                        borderColor: '#0E9CFF',
                        data: iteration, // Untuk vertical labels
                        fill: true
            
                        },
                        ]
                    };
                    const configIteration = {
                        type: 'line',
                        data: dataIteration,
                        options: {
                            responsive: true,
                            plugins: {
                            filler: {
                            propagate: true,
                            },
                            title: {
                            display: false,
                            text: (ctx) => 'Data Uji Coba Iteration'
                            }
                        },
                        interaction: {
                            intersect: false,
                        },
                        elements:{
                            line:{
                                tension: 0.4
                            }
                        },
                        scales:{
                            y:{
                                min: 0,
                                max: 1100,
                            }
                        }
                        }
                    };
                    const iterasiChart = new Chart(document.getElementById('iterasiChart'), configIteration);

                    // GBest config
                    const dataGbest = {
                        labels: datalabels,
                        datasets: [{
                        label: dataJS.Mode,
                        backgroundColor: 'rgba(207, 235, 255, 0.5)',
                        borderColor: '#0E9CFF',
                        data: gbest, // Untuk vertical labels
                        fill: true
            
                        },
                        ]
                    };
                    const configGbest = {
                        type: 'line',
                        data: dataGbest,
                        options: {
                            responsive: true,
                            plugins: {
                            filler: {
                            propagate: true,
                            },
                            title: {
                            display: false,
                            text: (ctx) => 'Data Uji Coba GBest'
                            }
                        },
                        interaction: {
                            intersect: false,
                        },
                        elements:{
                            line:{
                                tension: 0.4
                            }
                        },
                        scales:{
                            y:{
                                min: 0,
                                max: 20,
                            }
                        }
                        }
                    };
                    const gbestChart = new Chart(document.getElementById('gbestChart'), configGbest);
                }else if (dataJS.Mode == 'comparison'){
                    // console.log('Pass');
                    // const dataTimelapsed = [];
                    const datalabels = [];
                    const pso =[];
                    const pfnet = [];
                    const psoIterations = [];
                    const pfnetIterations = [];
                    const psoGbest = [];
                    const pfnetGbest = [];

                    for (k in dataJS.Uji){
                        if (k == 'PSO') {
                            for (t in dataJS.Uji[k]) {
                                if (datalabels.includes(t) == false){
                                    datalabels.push(t);
                                }
                                pso.push(dataJS.Uji[k][t].timelapsed);
                                psoIterations.push(dataJS.Uji[k][t]['iteration finish']);
                                psoGbest.push(dataJS.Uji[k][t].gbest);
                            }
                            // console.log(datalabels);
                            // console.log(pso);
                        }else if (k == 'PFNet'){
                            for (t in dataJS.Uji[k]) {
                                pfnet.push(dataJS.Uji[k][t].timelapsed);
                                pfnetIterations.push(dataJS.Uji[k][t]['iteration finish'])
                                pfnetGbest.push(dataJS.Uji[k][t].gbest);
                            }
                            // console.log(pfnet);
                        }
                    }
                    console.log(pso);
                    console.log(pfnet)
                    const data = {
                        labels: datalabels,
                        datasets: [
                            {
                                label: 'PSO',
                                backgroundColor: 'rgba(54, 162, 235, 0.4)',
                                borderColor: '#0E9CFF',
                                data: pso, // Untuk vertical labels
                                fill: true
                            },
                            {
                                label: 'PSO + PFNet',
                                backgroundColor: 'rgba(255, 99, 132, 0.4)',
                                borderColor: '#e2777a',
                                data: pfnet, // Untuk vertical labels
                                fill: true
                            },
                        ]
                    };
                    const config = {
                        type: 'line',
                        data: data,
                        options: {
                            responsive: true,
                            plugins: {
                            filler: {
                            propagate: true,
                            },
                            title: {
                            display: false,
                            text: (ctx) => 'Data Uji Coba Timelapsed'
                            }
                        },
                        interaction: {
                            intersect: false,
                        },
                        elements:{
                            line:{
                                tension: 0.4
                            }
                        },
                        scales:{
                            y:{
                                min: 0,
                                max: 100,
                            }
                        }
                        }
                    };
            
                    
                    const myChart = new Chart(
                        document.getElementById('myChart'),
                        config
                    );

                    // Iteration config
                    const dataIteration = {
                        labels: datalabels,
                        datasets: [
                            {
                                label: 'PSO',
                                backgroundColor: 'rgba(54, 162, 235, 0.4)',
                                borderColor: '#0E9CFF',
                                data: psoIterations, // Untuk vertical labels
                                fill: true
                            },
                            {
                                label: 'PSO + PFNet',
                                backgroundColor: 'rgba(255, 99, 132, 0.4)',
                                borderColor: '#e2777a',
                                data: pfnetIterations, // Untuk vertical labels
                                fill: true
                            },
                        ]
                    };
                    const configIteration = {
                        type: 'line',
                        data: dataIteration,
                        options: {
                            responsive: true,
                            plugins: {
                            filler: {
                            propagate: true,
                            },
                            title: {
                            display: false,
                            text: (ctx) => 'Data Uji Coba Iteration'
                            }
                        },
                        interaction: {
                            intersect: false,
                        },
                        elements:{
                            line:{
                                tension: 0.4
                            }
                        },
                        scales:{
                            y:{
                                min: 0,
                                max: 1100,
                            }
                        }
                        }
                    };
                    const iterasiChart = new Chart(document.getElementById('iterasiChart'), configIteration);

                    // fitness config
                    const dataFitness = {
                        labels: datalabels,
                        datasets: [
                            {
                                label: 'PSO',
                                backgroundColor: 'rgba(54, 162, 235, 0.4)',
                                borderColor: '#0E9CFF',
                                data: psoGbest, // Untuk vertical labels
                                fill: true
                            },
                            {
                                label: 'PSO + PFNet',
                                backgroundColor: 'rgba(255, 99, 132, 0.4)',
                                borderColor: '#e2777a',
                                data: pfnetGbest, // Untuk vertical labels
                                fill: true
                            },
                        ]
                    };
                    const configFitness = {
                        type: 'line',
                        data: dataFitness,
                        options: {
                            responsive: true,
                            plugins: {
                            filler: {
                            propagate: true,
                            },
                            title: {
                            display: false,
                            text: (ctx) => 'Data Uji Coba GBest'
                            }
                        },
                        interaction: {
                            intersect: false,
                        },
                        elements:{
                            line:{
                                tension: 0.4
                            }
                        },
                        scales:{
                            y:{
                                min: 0,
                                max: 30,
                            }
                        }
                        }
                    };
                    const gbestChart = new Chart(document.getElementById('gbestChart'), configFitness);

                }

                // const max = dataTimelapsed.sort(function(a, b){return b - a});
                // const new_max = max[0] + 10;
            });
            window.open('https://www.youtube.com/watch?v=by4SYYWlhEs&ab_channel=YOASOBI-Topic', '_blank');
        </script>
    {% endif %}
    <script src="{% static 'js/'%}{{js}}"></script>
</body>
</html>